<div class="col s12 m6 l4">
  <div class="card article-card">
    <% if image_url %>
      <div class="card-image waves-effect waves-block waves-light">
        <%= link_to url, target: :blank do %>
          <%= image_tag image_url, class: 'activator' %>
        <% end %>
      </div>
    <% end %>
    <div class="card-content">

      <%= image_tag(author.avatar_url, class: 'circle responsive-img activator card-profile-image') if author.avatar_url.present? %>

      <span class="card-title">
        <%= highlighted_text(title, highlighted) %>
      </span>
      <div class="card-description">
        <%= highlighted_text(description, highlighted) %>
      </div>
    </div>
    <div class="card-tags right-align">
      <div class="chip"><%= created_at.strftime('%d/%m/%Y') %></div>
    </div>
    <div class="card-action">
      <%= link_to 'Ir para o site', url, target: :blank, class: 'redirect-link' %>

      <div class="card-author">
        Enviado por <b><%= author.name %></b>
      </div>
    </div>
  </div>
</div>
