<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color purple darken-4">
      <div class="nav-wrapper">

        <ul class="left">
          <li class="main-logo hide-on-med-and-down">
            <h1 class="logo-wrapper">
              <% home_url = @collection ?  articles_path(@collection) : root_path %>

              <%= link_to home_url, { class: 'brand-logo darken-1' } do %>
                <%= image_tag 'owl-icon.png' %>
              <% end %>
            </h1>
          </li>
          <%= render 'layouts/menu_slide_out' %>
        </ul>

        <%= form_tag articles_search_path(@collection) do %>
          <div class="header-search-wrapper">
            <i class="material-icons">search</i>
            <input type="text" name="query" class="header-search-input z-depth-2"
              placeholder="Pesquisar" id="search" value="<%= @query if @query %>">
          </div>
          <button class="btn dictionary-submit waves-effect waves-light" type="submit"
            name="action" id="search-button">Buscar</button>
        <% end %>

        <%= render 'layouts/menu' %>
      </div>
    </nav>
  </div>
</header>
