<!DOCTYPE html>
<html>
  <head>
    <title>Remembrall</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body data-page="<%= pagejs %>">
    <%= render 'layouts/header' %>

    <section>
      <%= yield %>
    </section>

    <%= render 'layouts/loader' %>
  </body>
</html>
